
src/pykato.egg-info/

src/pykato/__pycache__/

src/pykato/plotfunction/__pycache__/

pykato.code-workspace

.vscode/settings.json

tests/__pycache__/

tests/output/

src/pykato/py.typed
pykato_github.code-workspace
